DIY Exercise 4-1/accounts-diy4-ws/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="66c01df8-617e-455d-b806-48b2e4bf7621" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="f7cb9eea-0e14-4ebe-bf92-7ac4db18e49a" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getAccounts" doc:id="62e7e21b-0c2f-476e-b619-8a7c3018ce1b" >
		<db:select doc:name="Select" doc:id="67355007-5ebf-4447-bd1f-c443c3d28f6b" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM flights_customers WHERE Accounttype = :actype  ]]></db:sql>
			<db:input-parameters ><![CDATA[#[{actype : message.attributes.queryParams.'type' default 'Business'}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="97051606-5b1b-4ec5-89bc-bd171b428582">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	accountID: payload01.accountID as Number default 0,
	country: payload01.country default "",
	street: payload01.street default "",
	state: payload01.state default "",
	name: payload01.name default "",
	city: payload01.city default "",
	postal: payload01.postal default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getAccountByID" doc:id="dbeaa11e-e336-4dcf-bed5-499016a28017" >
		<db:select doc:name="Select" doc:id="71a9dbf2-325f-4d66-8a26-ea668f57c01b" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT * FROM flights_customers WHERE Accountid = :id ]]></db:sql>
			<db:input-parameters ><![CDATA[#[{id: message.attributes.uriParams.'id'}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="564fbe9e-f3b0-421a-9f27-4497d68db68b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	accountID: payload01.accountID as Number default 0,
	country: payload01.country default "",
	street: payload01.street default "",
	state: payload01.state default "",
	name: payload01.name default "",
	city: payload01.city default "",
	postal: payload01.postal default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
